@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'inc/fonts';
@import 'inc/var';

.canvas {
	width: 100%!important;
	height: auto!important;
	
	&__title {
		font-family: 'Opinion';
	}
	
	&__wrap {
		width: 100%;
		overflow: auto;
	}
	
	&-container {
		width: 100% !important;
	}
	
}