@font-face {
	font-family: 'Opinion';
	src: url('/../public/assets/fonts/OpinionPro-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Opinion';
	src: url('/../public/assets/fonts/OpinionPro-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Opinion';
	src: url('/../public/assets/fonts/OpinionPro-ExtraBold.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}